<html ng-app="myApp">
<head>
    <title>Shopping cart</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="./scripts/cartCntrl.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
   
    
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="./Styles/bootstrap.css">
    <link rel="stylesheet" href="./Styles/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
<body>
<div ng-controller="cartCntrl">
   
    <div class="container" > 
        <!---Nav-->
        <div class="row">
             <!---Navbar-->
            <nav class="navbar navbar-fixed-top navbar-inverse">
                 <!---Container fluid-->
                <div class="continer-fluid">
                     <!---navbar Header-->
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Shopping cart</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="help.html">Help</a></li>
                    </ul>
                </div>
            </nav>
    </div>
</div>
<div class="Header">
  <!---Header-->
   Online purchasing made easy  
</div>
<div class="mainbody">
     <div class="container cart">
        <div class="row">
                <div class="col-md-12 "> 
                    <span ng-if='cart.length !=0'>{{itemsAdded}} has been added to</span>
                    <i class="fa fa-shopping-cart fa-2x" aria-hidden="true" ng-click="showCart()" data-toggle="modal" data-target="#showModal"></i>{{cart.length}} cart
                     <span ng-if='cart.length !=0' ><i class="fa fa-trash fa-2x" aria-hidden="true" ng-click="empty()"></i></span></div>
        </div>
     </div>
    <!---Page content-->
    <div class="row"> 
        <div class="container">
            <hr/>
             <!---Main Panel-->
                 <div class="panel panel-primary">
                     <!---Panel Header-->
                     <div class="panel panel-heading">
                         Product Listing 
                     </div>
                     <!---Panel Body-->
                     <div class="panel-body">
                         <div class="row">
                             <div class="col-md-2">Filter By</div>
                             <div class="col-md-4"><input type="text" ng-model="filterGrid"/></div>
                         </div>
                         <hr/>
                        <!---Table-->
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Product Code</th>
                                        <th>Product Description</th>
                                        <th>Price</th>
                                        <th>Add to cart</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="pr in products |filter:filterGrid">
                                        <td><image src='{{pr.productUrl}}' class="smImage"></td>
                                        <td>{{pr.productCode}}</td>
                                        <td>{{pr.productDesc}}</td>
                                        <td>{{pr.price}}</td>
                                        <td><input type="button" value="Add to cart" class="btn btn-success" ng-click="add(pr)"></td>
                                    </tr>
                                </tbody>
                            </table>
                     </div>
                 </div>
         </div>
    </div>
  </div>
</div>
<div class="footer">
    <div class="container"> 
        <!---Nav-->
        <div class="row">
            <footer>  Help | About us | contact us | blog  </footer>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="showModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Cart Details</h4>
      </div>
      <div class="modal-body">
       <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Product Code</th>
                                        <th>Product Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="cr in cart ">
                                         <td><image src='{{cr.productUrl}}' class="smImage"></td>
                                        <td>{{cr.productCode}}</td>
                                        <td>{{cr.productDesc}}</td>
                                        <td><input type="button" value="delete" class="btn btn-success" ng-click="delete(pr)"></td>
                                    </tr>
                                </tbody>
                            </table>
                     </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
</div>
</body>
</html>