.mainBody{
 
    margin: 26px 250px;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 1303px;
    height: 703px;
   
}
.header{
   margin: 63px 0px 0px 555px;
   font-size: 25px;
   font-weight: solid;
   padding: 0px 0px 0px 120px
}
.footer{
   margin: 34px 0px 0px 771px;
   font-weight: solid;
   
}
h1{
    color:#292929;
    font-size:36px;
}
.smImage{
    width: 50px;
    height: 57px;
}
.cart{
    text-align: right;
    font-weight:bold;
    color:#73AD21;
}